html,
body {
    height: 100%;
    margin: 0;
    max-width: 100%;
    /* background-color:bisque; */
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
#footer,
.push {
    height: 50px;
}
