{% extends "base.html" %}

{% block template %}
{% load static%}
<link rel="stylesheet" href="{% static 'css/sketch.css' %}">
<script src="{% static 'js/display.js' %}"></script>
<title>Sketch</title>
<!-- <div>THIS IS SKETCH PAGE</div> -->

<div class="row">
    <figure class="snip1321 hover"><img src="https://pbs.twimg.com/media/GAhyUVaXAAAldg7?format=png&name=small"
            alt="sq-sample26" />
        <figcaption>
            <h5> </h5>
            <h6>2023-12-05</h6>
        </figcaption><a href="https://twitter.com/ashstolam9653/status/1730416717216752082"></a>
    </figure>
    <figure class="snip1321"><img src="https://pbs.twimg.com/media/GAceyQ_WoAAWUZq?format=jpg&name=small"
            alt="sq-sample27" />
        <figcaption>
            <h4>Got my party hat on already</h4>
            <h2>2023-12-03</h2>
        </figcaption><a href="#"></a>
    </figure>
    <figure class="snip1321"><img src="https://pbs.twimg.com/media/GAMJf4hXgAA7QMq?format=jpg&name=small"
            alt="sq-sample28" />
        <figcaption>
            <h4>A quick and easy solution how to increase your chest size on clothing that makes you look flat</h4>
            <h2>2023-11-30</h2>
        </figcaption><a href="#"></a>
    </figure>
    <blockquote class="twitter-tweet" data-media-max-width="100">
        <p lang="en" dir="ltr">My voice 💀 <a href="https://t.co/AMlv1glwl9">pic.twitter.com/AMlv1glwl9</a></p>&mdash;
        Millie Parfait 🪄 NIJISANJI EN (@MillieParfait) <a
            href="https://twitter.com/MillieParfait/status/1736324590157144176?ref_src=twsrc%5Etfw">December 17,
            2023</a>
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <!-- <blockquote class="twitter-tweet" data-media-max-width="100">
        <p lang="en" dir="ltr"><a href="https://t.co/D5Pi08rcUJ">pic.twitter.com/D5Pi08rcUJ</a></p>&mdash; Millie
        Parfait 🪄 NIJISANJI EN (@MillieParfait) <a
            href="https://twitter.com/MillieParfait/status/1735570920008257720?ref_src=twsrc%5Etfw">December 15,
            2023</a>
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
</div>

<!-- image flip -->
<script>
    /* Demo purposes only */
    $(".hover").mouseleave(
        function () {
            $(this).removeClass("hover");
        }
    );
</script>
{% endblock %}